<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>streamdeck</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid h">            
        <div class="row">          
          <div class="btn-group">
            <button type="button" class="btn btn-default col-md-4">Chrome</button>
            <button type="button" class="btn btn-default col-md-4">VScode</button>
            <button type="button" class="btn btn-default col-md-4">spotify</button>
          </div>
        </div>
        <div class="row">
          <div class=" btn-group">
            <button type="button" class="btn btn-default col-md-4">Downloads</button>
            <button type="button" class="btn btn-default col-md-4">Documents</button>
            <button type="button" class="btn btn-default col-md-4">Youtube</button>
          </div>
        </div>
        <div class="row">
          <div class=" btn-group">
            <button type="button" class="btn btn-default col-md-4">stream.io</button>
            <button type="button" class="btn btn-default col-md-4">Terminal</button>
            <button type="button" class="btn btn-default col-md-4">Premiere</button>
          </div>
        </div>
      </div>
      
      
</body>
</html>